block content
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/popper.min.js")
    script(src="/plugins/chartjs.min.js")
    script(src="/plugins/bootstrap/js/bootstrap.min.js")
    script(src="/javascripts/dashboard.js")
    //- script(src="/javascripts/chart.js")
    //- script(src="/library/demo/chart-area-demo.js")
    //- script(src="/library/demo/chart-pie-demo.js")
    script(src="/plugins/datatables/jquery.dataTables.js")
    script(src="/plugins/datatables/dataTables.bootstrap4.js")
    script(src="/plugins/datatables/datatables-demo.js")
    