doctype html 
html(lang="en") 
  head 
    meta(charset="utf-8") 
    meta(name="viewport" , content="width=device-width , initial-scale=1.0") 
    title= title 
    meta(name='description' , content='Ace Africa - Making Education Sustainable')
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://localhost:3600")
    meta(property="og:site_name" content="Ace Africa")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet")
    link(rel="icon" type="image/png" href="/images/book1.png")
    link(rel='stylesheet' , href='/plugins/bootstrap/css/bootstrap.min.css')
    link(rel="stylesheet", href="/plugins/datatables/dataTables.bootstrap4.css")
    link(rel='stylesheet' , href='/plugins/fontawesome/css/font-awesome.min.css')